.input {
    margin-bottom: 15px;
}

.input label {
    margin-bottom: 3px;
    padding: 0;
    margin-left: 70px;
    display: block;
    text-align: left;
    font-weight: bold;
    color: rgb(126, 124, 124);
}

.input input {
    /* display: block;
    
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0 0 5px;
    
    border-radius: 10px;
    transition: all 300ms ease-in-out; */
    font-size: 16px;
    box-sizing: border-box;

    width: 100%;
  padding: 7px;
  display: block;
  width: 400px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-left: 70px;
}

.input input:focus {
    outline:none;
    /* border-radius: 10px; */
    /* border: 2px solid #07a3b2; */
    border-bottom: 2px solid #07a3b2;
}

.input span {
    color: #f01f30;
    font-size: 12px;
    font-weight: bold;
}

.input.invalid label {
    color: #f01f30;
}