.auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #07a3b2 0%, #07a3b2 100%);
}

.auth > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.auth h1 {
    color: #fff;
    text-align: center;
}

.authForm {
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
}